.product-description {
	display: flex;
	justify-content: space-between;
	margin: 20px auto 0;
	width: 100%;
}
.product-description .separator {
	border: 1px solid black;
	height: 100%;
	width: 0;
	margin: 0 20px;
}
.product-description .description {
	text-align: right;
	width: 50%;
	max-width: 500px;
}
.product-description .features {
	width: 50%;
	max-width: 500px;
}
.product-description .feature {
	display: flex;
	align-items: center;
}
