.style-selectors {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0 15px;
	max-width: 480px;
}

.style-selector {
	margin: 0 20px 10px 0;
}

.style-image {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.cart-outfit.wrapper {
	display: flex;
	margin: 20px 0 0;
}
.size-quantity > div:nth-of-type(1) {
	margin: 0 20px 0 0;
}
.size-quantity > div {
	min-width: 180px;
}
.add-to-cart,
.add-to-outfit {
	padding: 10px 0;
	width: 180px;
	border: 1.5px solid black;
	text-align: center;
	margin: 0 20px 0 0;
	cursor: pointer;
}
