.style-selectors {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0 15px;
	max-width: 480px;
}
.style-selector.wrapper {
	margin: 0 20px 10px 0;
	position: relative;
}
.selected-style.border {
	width: 105%;
	height: 105%;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid black;
	border-color: black !important;
	border-radius: 100%;
	transform: translate3d(-50%, -50%, 0);
}
.selected-style.checkmark {
	text-align: right;
	margin: 6px;
}
.selected-style.checkmark i {
	background: black;
	color: white;
	border-radius: 100%;
	padding: 1px;
	font-size: 16px;
}
.style-image {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.cart-outfit.wrapper {
	display: flex;
	margin: 20px 0 0;
}
.size-quantity > div:nth-of-type(1) {
	margin: 0 20px 0 0;
}
.size-quantity > div {
	min-width: 180px;
}
select {
	word-wrap: normal;
	background: white;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid black;
	width: 180px;
	margin: 0 20px 0 0;
	outline: none;
}
.add-to-cart,
.add-to-outfit {
	padding: 10px 0;
	width: 180px;
	border: 1.5px solid black;
	text-align: center;
	margin: 0 20px 0 0;
	cursor: pointer;
}
.add-to-cart.no-products {
	opacity: 0.4;
}

.error {
	color: red;
}
