.product-dashboard {
	margin: 0 0 0 auto;
	max-width: 500px;
}
.product-dashboard .product-name {
	font-weight: 600;
	font-size: 200%;
}
.product-dashboard .prices {
	display: flex;
}
.product-dashboard .sale-price {
	color: red;
	margin: 0 20px 0 0;
}
.product-dashboard .struckthrough {
	text-decoration: line-through;
}
.product-dashboard a.all-reviews {
	text-decoration: underline;
	color: unset;
	cursor: pointer;
}
.product-dashboard .social-buttons {
	display: flex;
	align-items: center;
	margin: 20px 0 0;
}
.product-dashboard .social-icon {
	outline: none !important;
}
.product-dashboard .social-buttons .social-icon img {
	height: 40px;
	width: auto;
	margin: 0 20px 0 0;
}
