.summary-row {
    display: flex;
    justify-content: stretch;
    flex-direction: row;
}

.item {
    flex: content;
    flex-grow: 0
}

.item-graph {
    flex-grow: 1
}

.summary-stars{
    flex-shrink: 1
}

.recommended{
    margin-top: 5%
}