.qNaContainer {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin-left: 10%;
}

.qNaContainer_title {
	font-weight: 200;
	font-size: 15px;
}

.questionsList_container {
	display: flex;
	flex-direction: column;
}

.questionsContainer_question {
	font-weight: bold;
	color: rgb(73, 73, 73);
}

.answer_a {
	font-weight: bold;
}

.buttons_container {
	display: flex;
	flex-direction: row;
	margin-bottom: 5%;
}

/* .questionsList_btns_container {
	display: flex;
	flex-direction: row;
	margin-bottom: 5%;
} */

.answersList_btn {
	background-color: rgba(255, 255, 255, 0.932);
	border: none;
	margin-bottom: 2%;
	font-size: 12px;
	font-weight: bold;
	color: rgb(73, 73, 73);
}

.buttons_addOne {
	margin-left: 2%;
}

.buttons_addOne_plus {
	font-size: 20px;
	padding-left: 10px;
}

.buttons {
	font-weight: bold;
	color: rgb(73, 73, 73);
	letter-spacing: 1px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.932);
}

.answer_extras_container {
	display: flex;
	flex-direction: row;
}

.answer_details {
	display: flex;
	flex-direction: row;
}

.answer_image {
	width: 150px;
	height: 80px;
	margin-right: 3%;
}
