.qNaContainer {
	display: flex;
	flex-direction: column;
	align-self: center;
	/* margin-left: 5%; */
}

.qNaContainer_title {
	font-weight: 200;
	font-size: 15px;
}

.questionsContainer {
	display: flex;
	flex-direction: column;
}

.questionsContainer__header {
	display: flex;
	justify-content: space-between;
}
.questionContainer_header_buttons {
	display: flex;
}

.questionsList_container {
	display: flex;
	flex-direction: column;
	-webkit-flex: 1 1 auto;
	overflow-y: auto;
	max-height: 700px;
}

.questionsContainer_question {
	font-weight: bold;
	color: rgb(73, 73, 73);
	font-size: 20px;
}

.answerContainer_answer {
	font-size: large;
	color: rgb(73, 73, 73);
}

.answersList_mainContainer {
	display: flex;
	color: rgb(73, 73, 73);
	min-height: 0;
	width: 95%;
}

.answersList_container {
	-webkit-flex: 1 1 auto;
	overflow-y: auto;
	max-height: 300px;
}

.answer_a {
	font-weight: bold;
	font-size: 20px;
}

.buttons_container {
	display: flex;
	flex-direction: row;
	margin-bottom: 5%;
}

.answersList_btn {
	background-color: rgba(255, 255, 255, 0.932);
	border: none;
	margin-bottom: 2%;
	font-size: 12px;
	font-weight: bold;
	color: rgb(73, 73, 73);
}

.buttons_addOne {
	margin-left: 2%;
	width: max-content;
}

.buttons_addOne_plus {
	font-size: 20px;
	padding-left: 10px;
}

.buttons {
	font-weight: bold;
	color: rgb(73, 73, 73);
	letter-spacing: 1px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.932);
}

.addAnswer_btn {
	-webkit-appearance: unset;
	border: none;
	padding-right: 2px;
	padding-left: 0px;
	text-decoration: underline;
}

.answer_extras_container {
	display: flex;
	flex-direction: row;
	font-size: 13px;
}

.answer_details {
	display: flex;
	flex-direction: row;
	font-weight: lighter;
}

.answer_functionalDetails {
	display: flex;
	flex-direction: row;
}

.answer_image {
	width: 150px;
	height: 80px;
	margin-right: 3%;
	border: 1px solid rgb(73, 73, 73);
	object-fit: cover;
}

.photos_container {
	display: flex;
	flex-direction: row;
	margin-bottom: 2%;
}

.image_span {
	display: none;
}

.Helpfulness_container {
	display: flex;
	flex-direction: row;
}

.helpfulness_btn {
	-webkit-appearance: unset;
	border: none;
	padding-right: 2px;
	padding-left: 0px;
	text-decoration: underline;
}

.report_btn {
	-webkit-appearance: unset;
	border: none;
	padding-right: 2px;
	padding-left: 0px;
	text-decoration: underline;
}

.all_btns:focus {
	outline: none;
}

/* ===== Answer Form ===== */

.qnaForm_container {
	display: flex;
	flex-direction: column;
}

.qnaForm_headers_container {
	display: flex;
	flex-direction: column;
	padding-bottom: 5%;
}

.qnaForm_labels {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	padding-bottom: 5%;
}

.qnaForm_title {
	font-weight: bold;
	text-decoration: underline gray;
}
