/* GENERAL */
.picture-container {
	position: relative;
	height: 500px;
}
/* THUMBNAILS */

.thumbnails-container {
	position: absolute;
	display: flex;
	flex-direction: row;
	top: calc(100% - 10px);
	left: 50%;
	transform: translatex(-50%);
	width: 100%;
	justify-content: space-evenly;
}
.fullscreen .thumbnails-container {
	display: none;
}
.thumbnail {
	height: 75px;
	width: 75px;
	margin-top: 0;
	transition: 0.4s;
}
.thumbnail.active {
	margin-top: 20px;
}
.thumbnail img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* FEATURE PHOTOS */
.pictures {
	display: flex;
	overflow: hidden;
	max-width: 500px;
	overflow-y: hidden;
	overflow-x: scroll;
}
.fullscreen .pictures {
	background: rgba(0, 0, 0, 0.65);
	max-width: 100vw;
}
.feature-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 500px;
	min-width: 500px;
	min-height: 500px;
	overflow: hidden;
	margin: 0 20px 0 0;
}
.fullscreen .feature-photo {
	height: 90vh;
	min-height: 90vh;
	width: 90vw;
	min-width: 90vw;
}

.feature-photo img {
	object-fit: contain;
	width: 100%;
}

/* ARROWS */
.picture-container i.material-icons {
	position: absolute;
	top: 48%;
	z-index: 100;
	cursor: pointer;
}
i.arrow-right {
	right: 0;
}

/* DOTS */
.dots {
	display: none;
}
.fullscreen .dots {
	display: flex;
	justify-content: space-evenly;
	width: 400px;
	align-items: center;
}
