/* GENERAL */
.photo-container {
	position: relative;
	height: 500px;
}
.fullscreen.photo-container {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 5;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
}
.fullscreen-close {
	display: none;
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 5;
}
.fullscreen .fullscreen-close {
	display: flex;
	cursor: pointer;
	color: white;
	font-size: 44px;
	text-align: right;
}
/* THUMBNAILS */
.thumbnails-wrapper {
	position: absolute;
	top: calc(100% - 10px);
	width: 100%;
	left: 50%;
	transform: translatex(-50%);
	overflow: visible;
}
.thumbnails-container {
	display: flex;
	flex-direction: row;
	max-width: calc(79px * 7);
	justify-content: flex-start;
	width: 100%;
	overflow: scroll;
	min-height: 95px;
}
.fullscreen .thumbnails-container {
	display: none;
}
.thumbnail {
	height: 75px;
	width: 75px;
	margin-top: 0;
	transition: 0.4s;
	max-height: 75px;
	min-height: 75px;
	max-width: 75px;
	min-width: 75px;
	margin: 0px 4px;
	cursor: pointer;
}
.thumbnail.active {
	margin-top: 20px;
}
.thumbnail img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.thumbnail-arrow {
	position: absolute;
	top: 50%;
	transform: translatey(calc(-50% - 10px));
}
.thumbnail-arrow.left {
	left: -36px;
}
.thumbnail-arrow.right {
	left: calc(79px * 6 + 20px);
}
div.thumbnail-arrow i.material-icons {
	color: black;
	cursor: pointer;
	position: relative;
}
/* FEATURE PHOTOS */
.photos {
	display: flex;
	overflow: hidden;
	max-width: 500px;
	overflow-y: hidden;
	overflow-x: scroll;
}
.fullscreen .photos {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
}
.feature-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 500px;
	min-width: 500px;
	min-height: 500px;
	overflow: hidden;
	margin: 0 20px 0 0;
}
.fullscreen .feature-photo {
	height: 100%;
	padding: 2% 0;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
	margin: 0;
}

.feature-photo img {
	height: 100%;
	width: auto;
	cursor: pointer;
}

.fullscreen .feature-photo img {
	cursor: zoom-in;
	height: 100%;
	width: auto;
}

.fullscreen.zoomed-in .feature-photo img {
	cursor: zoom-out;
}

/* ARROWS */
.photo-container .arrow-left,
.photo-container .arrow-right {
	position: absolute;
	top: 48%;
	z-index: 100;
	cursor: pointer;
	color: white;
	font-size: 44px;
}

i.arrow-right {
	right: 0;
}

/* DOTS */
.dots {
	display: none;
}
.fullscreen .dots {
	display: flex;
	justify-content: space-evenly;
	width: 400px;
	align-items: center;
	position: absolute;
	bottom: 1%;
	color: white;
	left: 50%;
	transform: translatex(-50%);
}
.dot {
	font-size: 64px;
	line-height: 64px;
	opacity: 0.5;
}
.dot.active {
	opacity: 1;
}
