.deck .product-card {
	width: 270px;
	min-width: 270px;
	height: 420px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: unset;
	align-items: unset;
	box-shadow: 0 0 5px #0000004f;
	margin: 5px;
	border-radius: 5px;
}
.deck p {
	margin-bottom: 0;
}
.deck h2 {
	font-size: 25px;
}
.deck .product-card .product-image {
	min-height: 60%;
	height: 60%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.product-card .bottom-content {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.deck .material-icons {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.pricing {
	float: left;
	display: flex;
}
.pricing > * {
	margin-right: 20px;
}

.crossout-price {
	color: red;
	text-decoration: line-through;
}

.related-product-name {
	cursor: pointer;
}
